*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background: #39aea9;
    padding: 4rem;
    
}

.cards{
    height: 85vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}

.card{
    list-style: none;
    background: rgba(255,255,255,0.9);
    border-radius: 2rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
   
}
.card--first{
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    padding: 10rem;
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 4rem;
    border-radius: 2rem;
}
.card--second{
    grid-column:5 / 13;
    grid-row: 1 / 9;
}
.card--third{
    grid-row: 7 / 13;
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--third > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card--third > button{
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #ee1515;
    color: #eee;
    border-radius: 0.5rem;
}
#js--pokemon-text{
   position: relative;
    top: 2.8125rem;

}
.card--first > input{
   width: 70%;
   height: 4rem;
  font-size: 2rem;
   font-family: sans-serif;
   padding: left;
    
   
   
}

#extra-text{
    position: relative;
    top:-58.5rem;
    left: -5rem;
}
#adven-titel{
    position: relative;
    top: -0.5rem;
    left: 2rem;
}

#js--adventure--text{
    position: relative;
    top: 15rem;
    font-size: 2.6rem;
    left: 2rem;
}

/* in een mediaquery is 1 rem altijd de user zijn font-size */
@media screen  and (max-width: 87.5rem){
    .card--second{
        grid-row: 1 / 13;
    }
    .card--third{
        grid-column: 1 / 5;
    }
    
}

@media screen  and (max-width: 62.5rem){
    body{
        background: blue;
    }
    .card--first, .card--second{
        display: none;
    }
    .card--third{
        grid-column: 1 / 13;
        grid-row: 1 / 13;
    }
}